@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);










body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Oswald', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Oswald', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Oswald', sans-serif;
}
.mbr-author-desc {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Oswald', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
}
.bg-primary {
  background-color: #607d8b !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #607d8b;
  border-color: #607d8b;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #41545e;
  border-color: #41545e;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #41545e !important;
  border-color: #41545e !important;
}
.btn-secondary {
  background-color: #cfd8dc;
  border-color: #cfd8dc;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #a3b4bc;
  border-color: #a3b4bc;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #a3b4bc !important;
  border-color: #a3b4bc !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #36474f;
  color: #36474f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #607d8b;
  border-color: #607d8b;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #607d8b !important;
  border-color: #607d8b !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #94a8b1;
  color: #94a8b1;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #cfd8dc;
  border-color: #cfd8dc;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #cfd8dc !important;
  border-color: #cfd8dc !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #607d8b !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #607d8b;
}
.btn-social:hover {
  background: #607d8b;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #607d8b;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #607d8b;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #607d8b;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #607d8b;
}
.lead a,
.lead a:hover {
  color: #607d8b;
}
.lead blockquote {
  border-color: #607d8b;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #a8bac3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #607d8b;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-0 .link {
  font-size: 0.9rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #607d8b;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #4b626d;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #5a7582!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #607d8b;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #607d8b;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #607d8b!important;
}
#header3-b .mbr-section-title,
#header3-b .mbr-section-subtitle {
  text-align: center;
}
#header3-b H3 {
  color: #232323;
}
#msg-box5-5 P {
  text-align: right;
  font-family: 'Roboto Slab', serif;
}
#content5-6 .mbr-section-title,
#content5-6 p {
  color: #fff;
}
#content5-6 .mbr-section-title {
  text-align: center;
}
#content5-6 P {
  font-family: 'Roboto Slab', serif;
}
#features7-a .card-subtitle {
  color: #bcbcbc;
}
#features7-a .iconbox {
  background-color: #cfd8dc;
  border-color: #cfd8dc;
}
#features7-a P {
  font-family: 'Roboto Slab', serif;
}
#testimonials3-1v .mbr-section-title {
  color: #efefef;
}
#testimonials3-1v .mbr-author-name {
  color: #ccc;
}
#contacts3-9 P {
  font-family: 'Roboto Slab', serif;
}
#contacts3-9 .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#contacts3-9 SPAN {
  color: #efefef;
}
#contacts3-9 LI {
  color: #efefef;
}
#contacts3-9 H4 {
  color: #ffffff;
}
#contacts3-9 STRONG {
  color: #ffffff;
}








#menu-h .hide-buttons .nav-btn {
  display: none !important;
}
#menu-h .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-h .navbar-toggler {
  color: #ffffff;
}
#menu-h .close-icon::before,
#menu-h .close-icon::after {
  background-color: #ffffff;
}
#menu-h .link,
#menu-h .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-h .link {
  font-size: 0.9rem;
}
#menu-h .dropdown-item,
#menu-h .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-h .link:hover,
#menu-h .dropdown-item:hover,
#menu-h .link:focus,
#menu-h .dropdown-item:focus {
  color: #607d8b;
}
#menu-h .link[aria-expanded="true"],
#menu-h .dropdown-menu {
  background: #4b626d;
}
#menu-h .nav-dropdown-sm .link:focus,
#menu-h .nav-dropdown-sm .link:hover,
#menu-h .nav-dropdown-sm .dropdown-item:focus,
#menu-h .nav-dropdown-sm .dropdown-item:hover {
  background: #5a7582!important;
}
#menu-h .navbar,
#menu-h .nav-dropdown-sm,
#menu-h .nav-dropdown-sm .link[aria-expanded="true"],
#menu-h .nav-dropdown-sm .dropdown-menu {
  background: #607d8b;
}
#menu-h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-h .bg-color.transparent.opened .link:hover,
#menu-h .bg-color.transparent.opened .link:focus {
  color: #607d8b;
}
#menu-h .link[aria-expanded="true"],
#menu-h .dropdown-item[aria-expanded="true"] {
  color: #607d8b!important;
}
#msg-box8-j .mbr-section-title,
#msg-box8-j p {
  color: #fff;
}
#msg-box8-j .lead P {
  font-family: 'Roboto Slab', serif;
}
#msg-box5-n P {
  font-family: 'Roboto Slab', serif;
}
#msg-box5-o P {
  font-family: 'Roboto Slab', serif;
}
#msg-box5-p P {
  font-family: 'Roboto Slab', serif;
}
#contacts3-i P {
  font-family: 'Roboto Slab', serif;
}
#contacts3-i .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#contacts3-i SPAN {
  color: #efefef;
}
#contacts3-i LI {
  color: #efefef;
}
#contacts3-i H4 {
  color: #ffffff;
}
#contacts3-i STRONG {
  color: #ffffff;
}







#menu-r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-r .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-r .navbar-toggler {
  color: #ffffff;
}
#menu-r .close-icon::before,
#menu-r .close-icon::after {
  background-color: #ffffff;
}
#menu-r .link,
#menu-r .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-r .link {
  font-size: 0.9rem;
}
#menu-r .dropdown-item,
#menu-r .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-r .link:hover,
#menu-r .dropdown-item:hover,
#menu-r .link:focus,
#menu-r .dropdown-item:focus {
  color: #607d8b;
}
#menu-r .link[aria-expanded="true"],
#menu-r .dropdown-menu {
  background: #4b626d;
}
#menu-r .nav-dropdown-sm .link:focus,
#menu-r .nav-dropdown-sm .link:hover,
#menu-r .nav-dropdown-sm .dropdown-item:focus,
#menu-r .nav-dropdown-sm .dropdown-item:hover {
  background: #5a7582!important;
}
#menu-r .navbar,
#menu-r .nav-dropdown-sm,
#menu-r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-r .nav-dropdown-sm .dropdown-menu {
  background: #607d8b;
}
#menu-r .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-r .bg-color.transparent.opened .link:hover,
#menu-r .bg-color.transparent.opened .link:focus {
  color: #607d8b;
}
#menu-r .link[aria-expanded="true"],
#menu-r .dropdown-item[aria-expanded="true"] {
  color: #607d8b!important;
}
#msg-box8-s .mbr-section-title,
#msg-box8-s p {
  color: #fff;
}
#msg-box8-s .lead P {
  font-family: 'Roboto Slab', serif;
}
#content6-10 P {
  font-family: 'Roboto Slab', serif;
}
#content1-12 P {
  font-family: 'Roboto Slab', serif;
}
#contacts3-x P {
  font-family: 'Roboto Slab', serif;
}
#contacts3-x .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#contacts3-x SPAN {
  color: #efefef;
}
#contacts3-x LI {
  color: #efefef;
}
#contacts3-x H4 {
  color: #ffffff;
}
#contacts3-x STRONG {
  color: #ffffff;
}








#menu-14 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-14 .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-14 .navbar-toggler {
  color: #ffffff;
}
#menu-14 .close-icon::before,
#menu-14 .close-icon::after {
  background-color: #ffffff;
}
#menu-14 .link,
#menu-14 .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-14 .link {
  font-size: 0.9rem;
}
#menu-14 .dropdown-item,
#menu-14 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-14 .link:hover,
#menu-14 .dropdown-item:hover,
#menu-14 .link:focus,
#menu-14 .dropdown-item:focus {
  color: #607d8b;
}
#menu-14 .link[aria-expanded="true"],
#menu-14 .dropdown-menu {
  background: #4b626d;
}
#menu-14 .nav-dropdown-sm .link:focus,
#menu-14 .nav-dropdown-sm .link:hover,
#menu-14 .nav-dropdown-sm .dropdown-item:focus,
#menu-14 .nav-dropdown-sm .dropdown-item:hover {
  background: #5a7582!important;
}
#menu-14 .navbar,
#menu-14 .nav-dropdown-sm,
#menu-14 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-14 .nav-dropdown-sm .dropdown-menu {
  background: #607d8b;
}
#menu-14 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-14 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-14 .bg-color.transparent.opened .link:hover,
#menu-14 .bg-color.transparent.opened .link:focus {
  color: #607d8b;
}
#menu-14 .link[aria-expanded="true"],
#menu-14 .dropdown-item[aria-expanded="true"] {
  color: #607d8b!important;
}
#header2-17 .mbr-section-text {
  font-family: 'Roboto Slab', serif;
}
#header2-1b .mbr-section-text {
  font-family: 'Roboto Slab', serif;
}
#header2-1c .mbr-section-text {
  font-family: 'Roboto Slab', serif;
}
#header2-1d .mbr-section-text {
  font-family: 'Roboto Slab', serif;
}
#contacts3-15 P {
  font-family: 'Roboto Slab', serif;
}
#contacts3-15 .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#contacts3-15 SPAN {
  color: #efefef;
}
#contacts3-15 LI {
  color: #efefef;
}
#contacts3-15 H4 {
  color: #ffffff;
}
#contacts3-15 STRONG {
  color: #ffffff;
}





#msg-box8-1g .mbr-section-title,
#msg-box8-1g p {
  color: #fff;
}
#msg-box8-1g .lead P {
  font-family: 'Roboto Slab', serif;
}
#menu-1e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1e .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-1e .navbar-toggler {
  color: #ffffff;
}
#menu-1e .close-icon::before,
#menu-1e .close-icon::after {
  background-color: #ffffff;
}
#menu-1e .link,
#menu-1e .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-1e .link {
  font-size: 0.9rem;
}
#menu-1e .dropdown-item,
#menu-1e .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-1e .link:hover,
#menu-1e .dropdown-item:hover,
#menu-1e .link:focus,
#menu-1e .dropdown-item:focus {
  color: #607d8b;
}
#menu-1e .link[aria-expanded="true"],
#menu-1e .dropdown-menu {
  background: #4b626d;
}
#menu-1e .nav-dropdown-sm .link:focus,
#menu-1e .nav-dropdown-sm .link:hover,
#menu-1e .nav-dropdown-sm .dropdown-item:focus,
#menu-1e .nav-dropdown-sm .dropdown-item:hover {
  background: #5a7582!important;
}
#menu-1e .navbar,
#menu-1e .nav-dropdown-sm,
#menu-1e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1e .nav-dropdown-sm .dropdown-menu {
  background: #607d8b;
}
#menu-1e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1e .bg-color.transparent.opened .link:hover,
#menu-1e .bg-color.transparent.opened .link:focus {
  color: #607d8b;
}
#menu-1e .link[aria-expanded="true"],
#menu-1e .dropdown-item[aria-expanded="true"] {
  color: #607d8b!important;
}
#contacts3-1f P {
  font-family: 'Roboto Slab', serif;
}
#contacts3-1f .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#contacts3-1f SPAN {
  color: #efefef;
}
#contacts3-1f LI {
  color: #efefef;
}
#contacts3-1f H4 {
  color: #ffffff;
}
#contacts3-1f STRONG {
  color: #ffffff;
}






#menu-1i .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1i .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-1i .navbar-toggler {
  color: #ffffff;
}
#menu-1i .close-icon::before,
#menu-1i .close-icon::after {
  background-color: #ffffff;
}
#menu-1i .link,
#menu-1i .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-1i .link {
  font-size: 0.9rem;
}
#menu-1i .dropdown-item,
#menu-1i .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-1i .link:hover,
#menu-1i .dropdown-item:hover,
#menu-1i .link:focus,
#menu-1i .dropdown-item:focus {
  color: #607d8b;
}
#menu-1i .link[aria-expanded="true"],
#menu-1i .dropdown-menu {
  background: #4b626d;
}
#menu-1i .nav-dropdown-sm .link:focus,
#menu-1i .nav-dropdown-sm .link:hover,
#menu-1i .nav-dropdown-sm .dropdown-item:focus,
#menu-1i .nav-dropdown-sm .dropdown-item:hover {
  background: #5a7582!important;
}
#menu-1i .navbar,
#menu-1i .nav-dropdown-sm,
#menu-1i .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1i .nav-dropdown-sm .dropdown-menu {
  background: #607d8b;
}
#menu-1i .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1i .bg-color.transparent.opened .link:hover,
#menu-1i .bg-color.transparent.opened .link:focus {
  color: #607d8b;
}
#menu-1i .link[aria-expanded="true"],
#menu-1i .dropdown-item[aria-expanded="true"] {
  color: #607d8b!important;
}
#msg-box8-1k .mbr-section-title,
#msg-box8-1k p {
  color: #fff;
}
#msg-box8-1k .lead P {
  font-family: 'Roboto Slab', serif;
}
#msg-box8-1n .mbr-section-title,
#msg-box8-1n p {
  color: #fff;
}
#msg-box8-1n .lead P {
  font-family: 'Roboto Slab', serif;
}
#contacts3-1j P {
  font-family: 'Roboto Slab', serif;
}
#contacts3-1j .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#contacts3-1j SPAN {
  color: #efefef;
}
#contacts3-1j LI {
  color: #efefef;
}
#contacts3-1j H4 {
  color: #ffffff;
}
#contacts3-1j STRONG {
  color: #ffffff;
}





#menu-1p .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1p .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-1p .navbar-toggler {
  color: #ffffff;
}
#menu-1p .close-icon::before,
#menu-1p .close-icon::after {
  background-color: #ffffff;
}
#menu-1p .link,
#menu-1p .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-1p .link {
  font-size: 0.9rem;
}
#menu-1p .dropdown-item,
#menu-1p .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-1p .link:hover,
#menu-1p .dropdown-item:hover,
#menu-1p .link:focus,
#menu-1p .dropdown-item:focus {
  color: #607d8b;
}
#menu-1p .link[aria-expanded="true"],
#menu-1p .dropdown-menu {
  background: #4b626d;
}
#menu-1p .nav-dropdown-sm .link:focus,
#menu-1p .nav-dropdown-sm .link:hover,
#menu-1p .nav-dropdown-sm .dropdown-item:focus,
#menu-1p .nav-dropdown-sm .dropdown-item:hover {
  background: #5a7582!important;
}
#menu-1p .navbar,
#menu-1p .nav-dropdown-sm,
#menu-1p .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1p .nav-dropdown-sm .dropdown-menu {
  background: #607d8b;
}
#menu-1p .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1p .bg-color.transparent.opened .link:hover,
#menu-1p .bg-color.transparent.opened .link:focus {
  color: #607d8b;
}
#menu-1p .link[aria-expanded="true"],
#menu-1p .dropdown-item[aria-expanded="true"] {
  color: #607d8b!important;
}
#msg-box8-1r .mbr-section-title,
#msg-box8-1r p {
  color: #fff;
}
#msg-box8-1r .lead P {
  font-family: 'Roboto Slab', serif;
}
#form1-1s .form-control-label {
  color: #232323;
}
#contacts3-1q P {
  font-family: 'Roboto Slab', serif;
}
#contacts3-1q .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#contacts3-1q SPAN {
  color: #efefef;
}
#contacts3-1q LI {
  color: #efefef;
}
#contacts3-1q H4 {
  color: #ffffff;
}
#contacts3-1q STRONG {
  color: #ffffff;
}





#menu-1x .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1x .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-1x .navbar-toggler {
  color: #ffffff;
}
#menu-1x .close-icon::before,
#menu-1x .close-icon::after {
  background-color: #ffffff;
}
#menu-1x .link,
#menu-1x .dropdown-item {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-1x .link {
  font-size: 0.9rem;
}
#menu-1x .dropdown-item,
#menu-1x .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-1x .link:hover,
#menu-1x .dropdown-item:hover,
#menu-1x .link:focus,
#menu-1x .dropdown-item:focus {
  color: #607d8b;
}
#menu-1x .link[aria-expanded="true"],
#menu-1x .dropdown-menu {
  background: #4b626d;
}
#menu-1x .nav-dropdown-sm .link:focus,
#menu-1x .nav-dropdown-sm .link:hover,
#menu-1x .nav-dropdown-sm .dropdown-item:focus,
#menu-1x .nav-dropdown-sm .dropdown-item:hover {
  background: #5a7582!important;
}
#menu-1x .navbar,
#menu-1x .nav-dropdown-sm,
#menu-1x .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1x .nav-dropdown-sm .dropdown-menu {
  background: #607d8b;
}
#menu-1x .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1x .bg-color.transparent.opened .link:hover,
#menu-1x .bg-color.transparent.opened .link:focus {
  color: #607d8b;
}
#menu-1x .link[aria-expanded="true"],
#menu-1x .dropdown-item[aria-expanded="true"] {
  color: #607d8b!important;
}
#header2-1z .mbr-section-text {
  font-family: 'Roboto Slab', serif;
}
#contacts3-1y P {
  font-family: 'Roboto Slab', serif;
}
#contacts3-1y .btn {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}
#contacts3-1y SPAN {
  color: #efefef;
}
#contacts3-1y LI {
  color: #efefef;
}
#contacts3-1y H4 {
  color: #ffffff;
}
#contacts3-1y STRONG {
  color: #ffffff;
}
